
<h4 class="title">All games details</h4>
{% if game_list %}
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table">
        <tr>
          <td>#</td>
          <td>Date</td>
          <td># Players</td>
          <td>Mission results</td>
          <td>Good won ?</td>
          <td>Merlin</td>
          <td>Perceval</td>
          <!-- <td>Galahad</td> -->
          <!-- <td>Peons</td> -->
          <td>Mordred</td>
          <td>Morgana</td>
          <td>Oberon</td>
          <td>Assassin</td>
          <!-- <td>Positions des méchants</td> -->
        </tr>
        {% for game in game_list %}
        <tr>
          <td style="font-weight: bold">{{ forloop.revcounter }}</td>
          <td><a href="{% url 'gm:details' game.pk %}">{{ game.date }}</a></td>
          <td>{{ game.stats.n_players }} </td>
          <td>
            {% for m in game.missions.all %}
              {% if m.result == 'S' %}
                <i class="glyphicon glyphicon-ok glyphicon-mission-ok"></i>
              {% else %}
                <i class="glyphicon glyphicon-remove glyphicon-mission-nok"></i>
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% if game.stats.good_win %}
              <i class="glyphicon glyphicon-ok glyphicon-mission-ok"></i>
            {% else %}
              <i class="glyphicon glyphicon-remove glyphicon-mission-nok"></i>
            {% endif %}
          </td>
          <td>{{ game.stats.merlin.tri }} </td>
          <td>{{ game.stats.perceval.tri }} </td>
          <!-- <td>{{ game.stats.galahad.tri }} </td> -->
          <!-- <td> </td> -->
          <td>{{ game.stats.mordred.tri }} </td>
          <td>{{ game.stats.morgana.tri }} </td>
          <td>{{ game.stats.oberon.tri }} </td>
          <td>{{ game.stats.assassin.tri }} </td>
          <!-- <td>{{ game.stats.mechants_pos }} </td> -->
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-xs-1"></div>
  </div>
{% else %}
  <p>No Games yet.</p>
{% endif %}
