
<h4 class="title">Highlights</h4>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <div class="row row-equal no-margin">

      <div class="col-sm-12">
        <div class="key_value">
          <div class="key">WANTED</div>
          <div class="value">
            {{ stats.best_player }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.best_player_ratio }}% of games won</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h4 class="title">General statistics on {{ stats.n_game }} games</h4>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <div class="row row-equal no-margin">

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Good Won</div>
          <div class="value">
            {{ stats.n_goodwon }}/{{ stats.n_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.n_goodwon_ratio }}%</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Evil Won</div>
          <div class="value">
            {{ stats.n_evilwon }}/{{ stats.n_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.n_evilwon_ratio }}%</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Oberon Won</div>
          <div class="value">
            TODO/{{ stats.n_game }}
            <!-- The unit is optional -->
            <span class="unit">TODO%</span>
          </div>
        </div>
      </div>

    </div>

    <br />

    <div class="row row-equal no-margin">

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key">Evil next to Evil</div>
          <div class="value">
              {{ stats.n_mechmech }}/{{ stats.n_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.n_mechmech_ratio }}%</span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key">Sylvain & Marc in the same team</div>
          <div class="value">
              {{ stats.n_ssa_and_mpr }}/{{ stats.n_ssa_and_mpr_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.n_ssa_and_mpr_ratio }}%</span>
          </div>
        </div>
      </div>

    </div>

    <br />

    <div class="row row-equal no-margin">

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key">Evil won with PED around</div>
          <div class="value">
              {{ stats.withPED_n_evilwon }}/{{ stats.withPED_n_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.withPED_n_evilwon_ratio }}%</span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key">Evil won without PED around</div>
          <div class="value">
              {{ stats.withoutPED_n_evilwon }}/{{ stats.withoutPED_n_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.withoutPED_n_evilwon_ratio }}%</span>
          </div>
        </div>
      </div>

    </div>

    <br />

    <div class="row row-equal no-margin">

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">TBE is Oberon</div>
          <div class="value">
              {{ stats.tbe_oberon }}/{{ stats.tbe_n_game }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.tbe_oberon_ratio }}%</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Never Arthur</div>
          <div class="value">
              {{ stats.never_arthur }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.never_arthur_ratio }}% (on {{ stats.never_arthur_n_missions }} missions)</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Always Arthur</div>
          <div class="value">
              {{ stats.always_arthur }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.always_arthur_ratio }}% (on {{ stats.always_arthur_n_missions }} missions)</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<h4 class="title">Roles (players who were in more than 10 games)</h4>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <div class="row row-equal no-margin">

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Most frequent Merlin</div>
          <div class="value">
            {{ stats.most_frequent_merlin }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.most_frequent_merlin_ratio }}% of games played</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Most frequent Perceval</div>
          <div class="value">
            {{ stats.most_frequent_perceval }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.most_frequent_perceval_ratio }}% of games played</span>
          </div>
        </div>
      </div>

    </div>

    <br />

    <div class="row row-equal no-margin">

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Most frequent Morgana</div>
          <div class="value">
            {{ stats.most_frequent_morgana }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.most_frequent_morgana_ratio }}% of games played</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Most frequent Mordred</div>
          <div class="value">
            {{ stats.most_frequent_mordred }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.most_frequent_mordred_ratio }}% of games played</span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key">Most frequent Oberon</div>
          <div class="value">
            {{ stats.most_frequent_oberon }}
            <!-- The unit is optional -->
            <span class="unit">{{ stats.most_frequent_oberon_ratio }}% of games played</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

