
<h4 class="title">General statistics on {{ stats.n_game }} games</h4>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <div class="row row-equal no-margin">

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key"># missions </div>
          <div class="value">
            {{ mission_stats.count }}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key"># missions failed </div>
          <div class="value">
            {{ mission_stats.count_fail }}
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="key_value">
          <div class="key"># missions succeeded </div>
          <div class="value">
            {{ mission_stats.count_success }}
          </div>
        </div>
      </div>

    </div>

    <br />

    <div class="row row-equal no-margin">

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key"> Evil arthur (has led # missions that failed) </div>
          <div class="value">
            {% for player in mission_stats.evil_arthur %}
              {{ player.0 }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            <span class="unit">
              {{ mission_stats.evil_arthur.0.1 }} missions
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key"> Good arthur (has led # missions that succeeded) </div>
          <div class="value">
            {% for player in mission_stats.good_arthur %}
              {{ player.0 }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            <span class="unit">
              {{ mission_stats.good_arthur.0.1 }} missions
            </span>
          </div>
        </div>
      </div>

    </div>

    <br />

    <div class="row row-equal no-margin">

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key"> Evil Merlin (has led # missions that failed) </div>
          <div class="value">
            {% for player in mission_stats.evil_merlin %}
              {{ player.0 }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            <span class="unit">
              {{ mission_stats.evil_merlin.0.1 }} missions
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="key_value">
          <div class="key"> Good Merlin (has led # missions that succeeded) </div>
          <div class="value">
            {% for player in mission_stats.good_merlin %}
              {{ player.0 }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            <span class="unit">
              {{ mission_stats.good_merlin.0.1 }} missions
            </span>
          </div>
        </div>
      </div>

    </div>

    <br />
  </div>
</div>

<div id="mission_chart" style="width: 100%; margin: 0 auto"></div>

<script type="text/javascript">
$(document).ready(function () {
    new Highcharts.Chart(JSON.parse("{{ mission_stats.mission_chart }}".replace(/&quot;/g,'"')));
});
</script>

