
<h4 class="title">Players with more than {{ min_game }} games</h4>
{% if player_list %}
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <table class="table">
        <tr>
          <td>Trigram</td>
          <td># games</td>
          <td># wins</td>
          <td># games (good)</td>
          <td># wins (good)</td>
          <td># games (evil)</td>
          <td># wins (evil)</td>
          <td>% win (good)</td>
          <td>% win (evil)</td>
          <td>% win (total)</td>
        </tr>
        {% for player in player_list %}
          <tr>
            <td style="font-weight: bold">{{ player.tri }} </td>
            <td>{{ player.stats.n_game }} </td>
            <td>{{ player.stats.n_win }} </td>
            <td>{{ player.stats.n_game_good }} </td>
            <td>{{ player.stats.n_win_good }} </td>
            <td>{{ player.stats.n_game_evil }} </td>
            <td>{{ player.stats.n_win_evil }} </td>
            <td>{{ player.stats.pc_win_good|floatformat }}% </td>
            <td>{{ player.stats.pc_win_evil|floatformat }}% </td>
            <td>{{ player.stats.pc_win|floatformat }}% </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% else %}
  <p>No Players yet.</p>
{% endif %}


