
  <h4 class="title">Ranking (players with more than {{min_game}} games.</h4>
  {% if player_rank %}
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <table class="table">
          <tr>
            <td>Trigram</td>
            <td># games</td>
            <td>% wins</td>
            <td>Trueskill Ranking</td>
          </tr>
          {% for player in player_rank %}
            <tr{% if player.tri == 'EVI'%} style="background-color: #AA8888"{% endif %}{% if player.tri == 'GOO'%} style="background-color: #88AA88"{% endif %}>
              <td style="font-weight: bold">{{ player.tri }} </td>
              <td>{{ player.stats.n_game }} </td>
              <td>{{ player.stats.pc_win|floatformat }} </td>
              <td>{{ player.stats.ranking_trueskill|floatformat }} </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% else %}
    <p>No Players yet.</p>
  {% endif %}

  <br />
  <p> EVI and GOO are hypothetical players playing always Evil or Good. </p>

