<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Avalon</title>
    <link rel="icon" href="{% static "img/icon.png" %}">
    <meta name="author" content="withings platform">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "plugins/bootstrap/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "plugins/jquery-ui/jquery-ui.min.css" %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Righteous" type='text/css'>
    <link rel="stylesheet" href="{% static "plugins/justified-gallery/justifiedGallery.css" %}">

    <link rel="stylesheet" href="{% static "css/avalon.css" %}">

    <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
    <script src="{% static "plugins/jquery-ui/jquery-ui.js" %}"></script>
    <script src="{% static "plugins/bootstrap/bootstrap.min.js" %}"></script>

    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>

    <script src="{% static "js/avalon.js" %}"></script>

    <!--[if lt IE 9]>
        <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
        <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
    {% endblock head %}
  </head>
  <body>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10 no-padding" id="main-content">
        {% block body %}
        {% endblock body%}
      </div>
    </div>
  </body>
</html>

