{% extends "gm/base.html" %}

{% block body %}

<div class="tabulations">
  <div class="tabulation-headers" id="top-header">
    <div class="tabulation-header active">General</div
    ><div class="tabulation-header">Players</div
    ><div class="tabulation-header">Games</div
    ><div class="tabulation-header">Missions</div
    ><div class="tabulation-header">Ranking</div>
  </div>


  <div class="tabulation-contents">
    <div class="tabulation-content active"> <!-- General -->
        {% include "pages/general.html" %}
    </div> <!-- General -->

    <div class="tabulation-content"> <!-- Players -->
        {% include "pages/players.html" %}
    </div> <!-- Players -->

    <div class="tabulation-content"> <!-- Games -->
        {% include "pages/games.html" %}
    </div> <!-- Games -->

    <div class="tabulation-content"> <!-- Missions -->
        {% include "pages/missions.html" %}
    </div> <!-- Missions -->

    <div class="tabulation-content"> <!-- Ranking -->
        {% include "pages/ranking.html" %}
    </div> <!-- Players -->
</div>

<p>
  <a href="{% url 'gm:stats_update' %}">Refresh all stats.</a>
</p>
<!--
<p><a href="{% url 'gm:create' %}">Create a new game.</a></p>
<p><a href="{% url 'gm:player_create' %}">Create a new player.</a></p>
-->
{% endblock body %}
