body, html, body > div.row {
    background: #D0D0D0;
    height: 100%;
    width: 100%;
}

body {
    padding-top: 20px;
}

#main-content {
    background: #F0F0F0;
}

#top-header {
    background: #D0D0D0;
}

.p {
	word-wrap: break-word;
}

.no-padding {
    padding: 0;
}

/* DASHBOARD */

h3.title, h4.title, h5.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease;
}

h3.title:hover, h4.title:hover, h5.title:hover {
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease;
}

h3.title {
    font-size: 28px;

    margin-right: 20%;
    margin-left: 12px;
    padding-left: 10px;
    padding-bottom: 4px;

    margin-top: 30px;
    margin-bottom: 20px;

    color: #444;
    border-bottom: 1px solid #666;
}

h3:hover {
    color: #222;
}

h4.title {
    font-size: 23px;

    margin-right: 60%;
    margin-left: 20px;
    padding-left: 8px;
    padding-bottom: 5px;

    margin-top: 25px;
    margin-bottom: 15px;

    color: #555;
    border-bottom: 1px solid #888;
}

h4:hover {
    color: #333;
}

h5.title {
    font-size: 18px;

    margin-right: 60%;
    margin-left: 25px;
    padding-left: 8px;
    margin-bottom: 5px;

    margin-top: 15px;
    margin-bottom: 10px;

    color: #777;
}

h5:hover {
    color: #555;
}

h3.title .glyphicon {
    font-size: 20px;
    color: #666;
}

h4.title .glyphicon {
    font-size: 16px;
    color: #888;
}

h5.title .glyphicon {
    font-size: 14px;
    color: #999;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    border: 0;
    border-top: 1px solid #D4D4D4;
}

.toggleable {
    cursor: pointer;
}

div.well_ {
    background: #F7F7F7;
    border: 1px solid #DDD;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    color: #555;
    /*font-weight: bold;*/
}

p {
    margin-left: 25px;
}

div.key_value {
    text-align: center;
    border: 1px solid #C6C6C6;
    background: #F6F6F6;
    padding: 10px;
    transition: all 0.2s ease;
}

div.key_value:hover {
    background: #FFF;
    transition: all 0.2s ease;
}

.key {
    color: #65355E;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}

.value {
    color: #525252;
    font-weight: normal;
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.unit {
    color: #525252;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

/* TOGGLEABLE BOXES */

div.toggleable-box {
    display: inline-block;
    border: 1px solid #C6C6C6;
    background: #F6F6F6;
    transition: background 0.2s ease;
    padding: 0; margin: 12px;
    vertical-align: top;
}

div.toggleable-box.openned {
    display: flex;
}

div.toggleable-box.openned .toggleable-header {
    width: 15%;
}

div.toggleable-box .toggleable-header:hover {
    background: #FFF;
    transition: background 0.2s ease;
}

div.toggleable-box .toggleable-header {
    display: inline-block;
    position: relative;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 20px;
    vertical-align: top;
}

div.toggleable-box .toggleable-content {
    display: inline-block;
    width: 85%;
    border-left: 1px solid #AAA;
    background: #FFF;
    padding: 10px;
}

div.toggleable-box .box-toggle-icons {
    position: absolute;
    right: -14px;
    top: -8px;

    width: 28px;
    height: 28px;
    font-size: 19px;
    text-align: center;

    background: #785E74;
    color: #FFF;
    border-radius: 100%;
    transition: background 0.2s ease;
}

div.toggleable-box .toggleable-header:hover .box-toggle-icons {
    background: #D054BC;
    transition: background 0.2s ease;
}

/* TABULATIONS */

div.tabulations {
}

div.tabulations div.tabulation-headers {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #BBB;
}

div.tabulations div.tabulation-header {
    display: inline-block;

    background: #F3F3F3;
    padding: 14px 32px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;

    font-weight: bold;
    cursor: pointer;
    transition: background 0.0s ease;
}

div.tabulations div.tabulation-header:hover {
    background: #FFF;
    transition: background 0.2s ease;
}

div.tabulations div.tabulation-header.active {
    background: #785E74;
    color: #FFF;
    transition: background 0.0s ease;
}

div.tabulations div.tabulation-contents {
}

div.tabulations div.tabulation-content {
    display: none;
}

div.tabulations div.tabulation-content.active {
    display: block;
}


/* TABLES */
table.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px; padding: 0px;
}

table.table td {
    vertical-align: middle;

    border: 2px solid #AAA;
    border-width: 2px 2px 2px 2px;
    text-align: center;
    padding: 7px;
}

table.table tr {
    background: #F7F7F7;
}

table.table tr:first-child, table.table .grey-box {
    background: #785E74;
    color: #F0F0F0;
    font-weight: bold;
}

table.table, div.well_,
div.key_value, div.toggleable-box {
  box-shadow: rgb(226, 226, 226) 1px 1px,
    rgb(226, 226, 226) 2px 2px,
    rgb(227, 227, 227) 3px 3px,
    rgb(229, 229, 229) 4px 4px,
    rgb(231, 231, 231) 5px 5px,
    rgb(233, 233, 233) 6px 6px,
    rgb(234, 234, 234) 7px 7px,
    rgb(236, 236, 236) 8px 8px,
    rgb(238, 238, 238) 9px 9px,
    rgb(240, 240, 240) 10px 10px;
}

pre {
    line-height: inherit;
    font-size: inherit;
}

code.code {
    padding: 20px 10px;
    margin: 20px 0px;
    display: block;
    background: #E9E9E9;
    color: #c7254e;
    font-size: 90%;
    white-space: pre;
}

.glyphicon-mission-ok {
    color: #7aaf82;
}

.glyphicon-mission-nok {
    color: #ca7a7a;
}
